.portfolio-wrap {
    position: relative;
    max-width: 1320px;
    padding: 0 80px 80px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        padding: 0 20px 80px
    }

    @media (max-width: 767px) {
        padding: 0 20px 0;
    }
}